<div class="footer">
    <footer>
        <img src="/images/arabesque.png" aria-hidden="true" />
        <p>
            {{ site.contact.name }}
            <br/>{{ site.contact.address1 }}
            <br/>{{ site.contact.address2 }}
            <br/>{% t Tél. : %} <a href="tel:{{ site.contact.phone | replace: " ", """" }}">{{ site.contact.phone }}</a>
        </p>
    </footer>
</div>