<div class="header">
    <header id="top">
        <a href="/">{{ site.title }}</a>
    </header>
    <div class="menu">
        {% if page.translation %}{% capture read_in %}{% t Lire en %} {%
        if lang == "en" %}{% t anglais %}{% else %}{% t français %}{% endif %}{% endcapture %}{% assign tran_lang = page.translation.locale | slice: 0,2 %}
        {% endif %}
        <nav class="nav">
            <ul>
                {% assign menu = site.data.menu[lang] %}{% for item in menu %}
                <li>
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </li>                    
                {% endfor %}
            </ul>
        </nav>
        <div class="langue">
            <a href="{{ page.translation.url }}" title="{{ read_in }}">
                <img src="/images/{{ tran_lang }}.png" />{{ tran_lang | upcase }}</a>
        </div>
    </div>
</div>